---

---  

$heading-header-color: #000 !default;

@import "{{ site.theme }}";

//h1{
    //color: #000000;
//}

.about{
    color: aqua;
    padding: 0;
}

.button{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
}


