---

---  

$heading-header-color: #000 !default;

@import "{{ site.theme }}";

//h1{
    //color: #000000;
//}

.about{
    padding: 0;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
}

a{
    color: black;
}

// News css
.card{
    display:flex;
    margin-bottom:1rem;
    border-bottom: solid 1px #ccc;
}

.pic{
    margin-right:1.5rem;
}


