---

---  

$heading-header-color: #000 !default;

@import "{{ site.theme }}";

h1{
    color: #000000;
}

//.page-header.about{
    //color: aqua;
   // padding: 0;
//}

li.button{
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
}